footer#footer {
  background-color: black;
  border: none;

  .widget {
    margin: 0;
  }

  .parallax_one_copyright_content,
  .social-icons ,
  .powered-by {
    display: none;
  }

  .footer-widget-wrap > div {
    padding: 20px;
    float: left;

    a {
      color: $light-grey;
      text-decoration: none;
    }
  }
}