.rev_slider_wrapper {
  color: $white;

  span {
    color: $white;
  }

  span.text-blue {
    color: $primary-blue;
    font-size: 25px;
  }
}

.slider-section-outter {
  width: 100%;
  display: flex;
  flex-direction: row;
  .slider-section {
    width: 50%;
  }

  img {
    width: 100%!important;
    height: auto!important;
    max-width: 800px!important;
  }

}