
p.form-row.terms {
  width: 100%;
  margin-top: 20px;
}


input#license-checkbox {
  margin-right: 12px;
}

#place_order {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 0;
}

@media (min-width: 767px) {
  margin-right: 5%;
}