

//colors
$white: #ffffff!important;

$light-black: #22221f!important;
$dark-grey: #333331!important;
$lighter-grey: #434240!important;
$light-grey: #565352!important;


$primary-blue: #35a8e0!important;
$primary-blue-lighter: #61bae4!important;
$primary-blue-light: #89cbea!important;